@page
@model TelegramWebApp.Pages.Admin.AdminPanelModel
@using TelegramBotService;
@{
    ViewData["Title"] = "Админ панель";
}
<div class="row justify-content-center">
    <p class="text-danger">@Model.Warning</p>
</div>
<div class="row justify-content-center">
    <div class=" d-inline">
        <form method="post" class="form-inline" asp-page-handler="Turn">
            <label class="col-form-label m-3">Режим прослушивания</label>
            <select class="form-control m-3" name="mode">
                <option value="@Mode.Updates" selected>updates</option>
                <option value="@Mode.Webhook">webhook</option>
            </select>
            <button class="btn btn-info m-3">Включить прослушивание</button>
        </form>
        <a class="btn btn-info m-3" asp-page-handler="TurnOff">Отключить прослушивание</a>
        <a class="btn btn-info m-3" asp-page="OptionsForm">Настройки</a>
        <a class="btn btn-info m-3" asp-page="AddTelegramUser">Добавить телеграм пользователя</a>
    </div>
</div>
<div class="row justify-content-center mt-5">
    <h5 class="col-7">Настройки приложения:</h5>
    <ul class="list-group col-7">
        <li class="list-group-item">Api Key: @Model.AppOptions.ApiKey</li>
        <li class="list-group-item">Calendar Id: @Model.AppOptions.CalendarId</li>
        <li class="list-group-item">Bot Token: @Model.AppOptions.BotToken</li>
        <li class="list-group-item">Host Address: @Model.AppOptions.HostAddress</li>
    </ul>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-7">
        <h5 class="mb-4">Разрешённые телеграм пользователи:</h5>
        @foreach (var user in Model.Users)
        {
            <div class="container-fluid p-0">
                <div class="row justify-content-start">
                    <div class="col-4">
                        <p>@user.UserName</p>
                    </div>
                    <div class="col-1">
                        <form method="post">
                            <input type="hidden" value="@user.Id" name="userId" />
                            <button class="btn-sm btn-danger">Удалить</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>