@page
@model TelegramWebApp.Pages.Admin.OptionsFormModel
@using Domain.Model;
@{
    ViewData["Title"] = "Настройки";
    var appOptions = new WebAppOptionsEnum();
}
<div class="row justify-content-center">
    <form method="post">
        <div class="form-group">
            <label class="col-form-label">ApiKey</label>
            <span asp-validation-for="@appOptions.ApiKey"></span>
            <input class="form-control" asp-for="@appOptions.ApiKey" />
        </div>
        <div class="form-group">
            <label class="col-form-label">CalandarId</label>
            <span asp-validation-for="@appOptions.CalendarId"></span>
            <input class="form-control" asp-for="@appOptions.CalendarId" />
        </div>
        <div class="form-group">
            <label class="col-form-label">Bot Token</label>
            <span asp-validation-for="@appOptions.BotToken"></span>
            <input class="form-control" asp-for="@appOptions.BotToken" />
        </div>
        <div class="form-group">
            <label class="col-form-label">Host Address</label>
            <span asp-validation-for="@appOptions.HostAddress"></span>
            <input class="form-control" asp-for="@appOptions.HostAddress" />
        </div>
        <button class="btn btn-dark">Отправить</button>
        <a class="btn btn-danger" asp-page="AdminPanel">Назад</a>
    </form>
</div>